.log-in {
  background-color: #363740;
  height: 100vh;
}
.log-in__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}
.log-in__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}
.log-in__input {
  width: 500px;
  padding: 10px 5px;
}
.log-in__form__btn {
  padding: 10px 0;
}
.log-in__form__btn:active {
  transform: scale(0.9);
}
.log-in__btn {
  padding: 10px 10px;
  border-radius: 5px;
}
.log-in__btn:active {
  transform: scale(0.9);
}