.table {
  width: 100%;
  margin-top: 100px;
  border-collapse: collapse;
  text-align: center;
}
.table__head {
  color: #878787;
}
.table__data {
  padding: 15px 10px;
}
.table__body tr {
  background-color: #eef2f5;
}
.table__green {
  color: #00ca39;
}
.table__red {
  color: #e44067;
}
.table__img {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 36px;
  height: 36px;
  background-color: #00ca39;
  border: 50%;
}
.table__img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}